@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a:link{
  text-decoration: none;
  color: lightslategrey;
}

body {
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {

  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
  margin-left:72px;
}

/*.header{
  max-height: 100px;
  display:flex;
  align-content: top;
  flex-direction: row;
}*/

.left-links{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: left;
  margin-left:-10px;
  gap:20px;
}

.content{
  max-height: 100px;
  display:flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin:auto;
}

.right-links{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content: right;
  align-content: center;
  margin-right:20px;
  margin-top:-40px;
  gap:20px;
}

.buttons{
  display:flex;
  justify-content: center;
  gap:28px;

}

.footer{
  background-color: lightgrey;
  padding-top: 12px;

}